header {
    background-color: #1a7fbd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  header .container {
    gap: 8rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 10vh;
  }
  
  header .container img {
    width: 17vh;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  header nav ul li {
    margin: 1vh;
    margin-right: 2vw;
    text-align: center;
  }
  
  header nav ul li a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #ffffff;
    transition: all 300ms linear 0s;
  }
  
  header nav ul li a:hover {
    font-weight: 900;
    opacity: 0.8;
  }
  
  header .items {
    margin-top: 1rem;
  }
  
  header .container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    max-width: 15rem;
    height: 5vh;
    min-height: 20%;
    text-align: center;
  }
  
  header .container .menu,
  header .container .menu-arrow {
    display: none;
    padding: 2%;
    text-align: center;
    border-radius: 15%;
    border: 0.1rem solid #a4dcff;
  }
  
  header .container .menu:hover,
  header .container .menu-arrow:hover {
    border: 0.1rem solid #1a7fbd;
    background-color: #a4dcff;
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(
      to right,
      transparent 3%,
      #ffffff,
      transparent 97%
    );
  }