/*FONTE*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Orbitron:wght@500&family=Unbounded:wght@300&display=swap");
/**/

.flexCenter,
footer .btn,
form .form-group,
form .form-data div .input-form,
form .form-data div,
form,
main .goals,
main .journey .btn-register,
main .journey .top-journey,
main .journey,
main .problem .intro-problem,
main .problem,
main .project,
main .register .block-form,
main .register,
main,
header .container .button,
header .container,
header,
.card-journey .card-blue div,
.card div,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}