@media screen and (max-width: 768px) {
    header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
    header .container {
      display: flex;
      align-items: center;
      width: 100%;
    }
    header .container nav {
      display: none;
      z-index: 100;
      align-items: center;
    }
    header .container nav .items {
      height: 40vw;
      width: 100%;
    }
    header .container .menu {
      display: block;
    }
    header .container .menu-arrow {
      display: none;
      z-index: 10000;
    }
  
    header .separator {
      width: 100%;
    }
  
    .btn-res {
      position: absolute;
      top: -100px;
      left: -100px;
    }
  
    .btn-register {
      padding-left: 10rem;
    }
  
    main .register {
      width: 10rem;
      border-radius: 5rem;
    }
  
    main .block-form {
      border-radius: 5rem;
    }
  
    main .register .vector img {
      display: none;
    }
  
    main .project {
      flex-direction: column;
      height: auto;
      margin-top: -5rem;
      margin-bottom: 5rem;
    }
  
    main .project .img-dev {
      width: 80%;
      margin-right: 0;
    }
  
    main .project .intro-project {
      position: relative;
      max-width: 100%;
      width: 90%;
      margin-top: 2rem;
      right: unset;
      text-align: center;
    }
  
    main .problem {
      height: auto;
      align-items: center;
      padding: 2rem;
    }
  
    main .problem .intro-problem {
      flex-direction: column;
      height: auto;
      align-items: center;
      justify-content: center;
    }
  
    main .problem .intro-problem .woman {
      width: 90%;
      height: 30vh;
      margin: 2rem 0;
    }
  
    main .problem .intro-problem article {
      width: 90%;
      margin: 2rem 0;
      text-align: center;
      margin-bottom: -20rem;
    }
  
    main .problem .intro-problem article h1 {
      font-size: 1.5rem;
    }
  
    main .problem .card {
      flex-direction: column;
      margin-top: 0;
    }
    main .problem .card div {
      width: 90%;
      margin: 4%;
    }
  
    main .journey .top-journey {
      margin-top: 2rem;
      max-width: 100%;
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    main .journey .top-journey img {
      width: 80%;
    }
  
    main .journey .top-journey h1 {
      font-size: 1.5rem;
      min-width: unset;
      margin-top: 1rem;
    }
  
    main .journey .btn-register {
      width: 90%;
      max-width: 90%;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
    }
  
    main .journey .btn-register a {
      width: 100%;
    }
  
    main .journey .vetor2 {
      display: none;
    }
  
    main .goals {
      width: 90%;
      height: auto;
      align-items: center;
      padding: 2rem;
    }
  
    main .goals h1 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  
    main .goals-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    main .goals-card {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    .btn-black {
      font-size: 1.4vh; /* Ajuste o tamanho da fonte conforme necessário */
      padding: 0.2rem 0.4rem; /* Ajuste o preenchimento conforme necessário */
    }
  
    main .journey {
      padding-top: 15%;
      padding-bottom: 10%;
      height: auto;
    }
    main .journey .top-journey img {
      display: none;
    }
    main .journey .card-journey {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    main .journey .card-journey .card-blue {
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: auto;
      margin-top: 5%;
      padding: 2%;
    }
    main .journey .card-journey .card-blue div {
      width: 0;
      height: 0;
    }
    main .journey .card-journey .card-blue img {
      width: 0;
      height: 0;
    }
  
    footer .span-black .btn {
      display: none;
    }
    footer .span-black .nav {
      display: none;
    }
    footer .span-black .contato {
      padding-left: 5%;
    }
  
    main .submit {
      align-items: center;
      justify-content: center;
    }
  }  